<head>
	<title>Contacto - PyS Designs</title>	
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    article
    {
        font-size: 50px;
     background-color: white;
     background-size: auto;

     margin-bottom: auto;
     background-size: cover;
    }
    h1{

        font-size: 50px;
    }
     #titulo
    {
        margin-left: 30px;
        font-size: 40px;
    }
     #real
    {
        margin-left: 50px;
     font-size: 25px;


    }
     #socials
    {
    margin-left: 50px;
     font-size: 40px;


    }
  </style>
</head>
<article>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.034065695408!2d-70.60580909999995!3d-33.44841899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf9a6ecc7fd1%3A0x4115a4160e25c01e!2sPedro+de+Valdivia+2815%2C+%C3%91u%C3%B1oa%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1435626547783" width="1000" height="600" frameborder="0" style="border:0" align="right" allowfullscreen></iframe>
<h1>Contacto</h1>
<p id = "titulo">
	Localización
</p>
<p id = "real">
	Av. Pedro de Valdivia 2815 Providencia<br></br>    
	Santiago de Chile.


</p>
<p id = "titulo">Contacto</p>
<p id = "real">

<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>consultas@vestidospys.cl 
<br></br>
<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>09 68782042 
</p>
<p id = "titulo">Redes sociales</p>
</p>
<p id = "socials">
        <a href="https://www.facebook.com/desings.pys">
            <i class="fa fa-facebook"></i>
        </a>

        <a href="#">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fa fa-flickr"></i>
        </a>
        <a href="#">
            <i class="fa fa-instagram"></i>
        </a>
</p>    
</article>