
<p>
  <strong>Prop cod:</strong>
  <%= @art_prop.prop_cod %>
</p>

<p>
  <strong>Art cod:</strong>
  <%= @art_prop.art_cod %>
</p>

<%= link_to 'Editar', edit_art_prop_path(@art_prop) %> |
<%= link_to 'Atrás', art_props_path %>
