<p id="notice"><%= notice %></p>

<p>
  <strong>Estado ped nom:</strong>
  <%= @estado_pedido.estado_ped_nom %>
</p>

<%= link_to 'Edit', edit_estado_pedido_path(@estado_pedido) %> |
<%= link_to 'Back', estado_pedidos_path %>
