<head>
  <title>Quienes somos - PyS Designs</title> 
</head>
<article>
<div class="box">
  <h1>
    Quienes Somos
  </h1>
    <p>
    	PYS es una empresa de tejidos que lleva 30 años en el mercado y desde hace 5 años comenzó a incorporar ropa y ha sido reconocida por TVN como mejores diseños de vestuario.. Habitualmente estamos en el programa de Moda de Carola Jorquera
    	<br></br>
    	Fábrica de tejidos que se inició hace 30 años en el mercado. Además de incorporó con gran éxito la Ropa exclusiva desde Europa y USA .
    </p>
    
</article>
</div>