 

<p>
  <strong>Val cod:</strong>
  <%= @propiedad_valor.val_cod %>
</p>

<p>
  <strong>Prop cod:</strong>
  <%= @propiedad_valor.prop_cod %>
</p>

<%= link_to 'Edit', edit_propiedad_valor_path(@propiedad_valor) %> |
<%= link_to 'Back', propiedad_valors_path %>
