<p>Hola <%= @resource.email %>!</p>

<p>Se ha pedido un cambio de contraseña. lo puedes hacer entrando en el siguiente enlace.</p>

<p><%= link_to 'Cambio de contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no pediste un cambio de contraseña, por favor ignorar este correo.</p>
<p>PYS Designs</p>
