<div class="box">
 
<h1><%= @propiedad.prop_nom %></h1>
<h4>Valores</h4>
<% if @propiedad.propiedad_valors.any? %>
<ul>
<% @propiedad.propiedad_valors.each do |pv|
@valores=Valor.where(val_cod: pv.val_cod) 
@valores.each do |valor|%>
<p><%=valor.val_nom%></p>
<%end%>
<% end %>
</ul>
<% else %>
<p>none available</p>
<% end %>
<%= link_to 'Editar', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Atrás', propiedads_path %>
</div>
